body
html
  margin 0
  padding 0

border-radius()
  -webkit-border-radius: arguments
  -moz-border-radius: arguments
  border-radius: arguments

body
  font: 12px Helvetica, Arial, sans-serif

a.button
  border-radius: 5px
.wrap
  width 100%
  max-width 640px
  margin 0 auto
  position relative