body
html
  margin 0
  padding 0
html
  background-color #f2f2f2
border-radius()
  -webkit-border-radius: arguments
  -moz-border-radius: arguments
  border-radius: arguments
a.button
  border-radius: 5px
.wrap
  width 100%
  max-width 640px
  margin 0 auto
  position relative
  background-color #fff

.nav
.banner
.cont
.footer
  width 100%
  position relative
  height auto

.nav ul
  list-style none
  margin 0
  padding 0
  display flex
  background-color #007AFF
  li
    flex 1
    text-align center
  

