// var
globeWhite = white
globeBlue = #5092d8

colorF1 = #f1f1f1
colorF2 = #f2f2f2

body
html
  margin 0
  padding 0

html
  background-color colorF2

border-radius()
  -webkit-border-radius arguments
  -moz-border-radius arguments
  border-radius arguments

a.button
  border-radius 5px

.header
    list-style none
    padding 0
    margin 0
    line-height 3rem
    width 100%
    text-align center
    display flex
    background-color globeBlue

.header li
    display inline-block
    width 20%

.header li a
    text-decoration none
    color globeWhite